.container {
  display: flex;
}

.container > .badge:not(:last-child){
  margin-right: 0.4rem;
}

.badge{
  border-radius: 10px;
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

.badge.ghost {
  background-color: var(--color-pokemon-ghost);
}

.badge.steel {
  background-color: var(--color-pokemon-steel);
}

.badge.dragon {
  background-color: var(--color-pokemon-dragon);
}

.badge.flying {
  background-color: var(--color-pokemon-flying);
}

.badge.water {
  background-color: var(--color-pokemon-water);
}

.badge.ice {
  background-color: var(--color-pokemon-ice);
}

.badge.unknown {
  background-color: var(--color-pokemon-unknown);
}

.badge.grass {
  background-color: var(--color-pokemon-grass);
}

.badge.bug {
  background-color: var(--color-pokemon-bug);
}

.badge.normal {
  background-color: var(--color-pokemon-normal);
}

.badge.electric {
  background-color: var(--color-pokemon-electric);
}

.badge.ground {
  background-color: var(--color-pokemon-ground);
}

.badge.rock {
  background-color: var(--color-pokemon-rock);
}

.badge.fire {
  background-color: var(--color-pokemon-fire);
}

.badge.psychic {
  background-color: var(--color-pokemon-psychic);
}

.badge.fairy {
  background-color: var(--color-pokemon-fairy);
}

.badge.poison {
  background-color: var(--color-pokemon-poison);
}