:root {
  --primary: #3eb3ed;
  --primary_hover: #379fd4;
  --danger: #ed5564;
  --danger_hover: #d44c5a;
  --success: #9bcc50;
  --success_hover: #87b346;
  --black: #434a54;
  --green: #00e676;
  --grey: #9e9fa0;
  --primaryFont: "Montserrat", sans-serif;
  --titleFont: "Varela Round", sans-serif;
  --color-pokemon-ghost: #65539d;
  --color-pokemon-steel: #908da9;
  --color-pokemon-dragon: #3b3bbb;
  --color-pokemon-flying: #7a9ff2;
  --color-pokemon-water: #3a8be9;
  --color-pokemon-ice: #3a8be9;
  --color-pokemon-unknown: #255147;
  --color-pokemon-grass: #4fb443;
  --color-pokemon-bug: #889e2a;
  --color-pokemon-normal: #afa485;
  --color-pokemon-electric: #f4c234;
  --color-pokemon-ground: #b7904b;
  --color-pokemon-rock: #b7904b;
  --color-pokemon-fire: #e76b2f;
  --color-pokemon-fighting: #9b4840;
  --color-pokemon-dark: #5e4c4c;
  --color-pokemon-psychic: #f5779e;
  --color-pokemon-fairy: #f9a8ef;
  --color-pokemon-poison: #a15ab1;
  --color-bg-pokemon-ghost: #cbc1e8;
  --color-bg-pokemon-steel: #d9d7e5;
  --color-bg-pokemon-dragon: #b9b9fc;
  --color-bg-pokemon-flying: #cbdeff;
  --color-bg-pokemon-water: #afd9ff;
  --color-bg-pokemon-ice: #afd9ff;
  --color-bg-pokemon-unknown: #255147;
  --color-bg-pokemon-grass: #b5eaaf;
  --color-bg-pokemon-bug: #d4dfa7;
  --color-bg-pokemon-normal: #e4e0cf;
  --color-bg-pokemon-electric: #ffe9a7;
  --color-bg-pokemon-ground: #ecd8b4;
  --color-bg-pokemon-rock: #ecd8b4;
  --color-bg-pokemon-fire: #ffc8a9;
  --color-bg-pokemon-fighting: #e7bdb8;
  --color-bg-pokemon-dark: #c9c0c0;
  --color-bg-pokemon-psychic: #ffcbde;
  --color-bg-pokemon-fairy: #fdf;
  --color-bg-pokemon-poison: #e6c2ef;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: var(--primaryFont);
  color: var(--black);
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
textarea,
select {
  color: black;
  font-family: var(--primaryFont);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titleFont);
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
p {
  font-size: 1.6rem;
}
button {
  all: unset;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 0.8rem 1.6rem;
  border: 1px solid var(--grey);
  border-radius: 10px;
  transition: all 0.2s ease-in;
}

button:disabled {
  background-color: var(--grey);
}