.container {
  padding: 0 1.6rem;
  display: grid;
  place-items: center;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  width: 100%;
  max-width: 768px;
}

.grid {
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  margin-top: 1.6rem;
}

.card {
  padding: 1.2rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.pokemonImage{
  width: 50%;
  height: auto;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.6rem;
  text-transform: capitalize;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card .imageContainer {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}

@media only screen and (min-width: 426px){
  .backButton{
    top: 1.5rem;
  }
  .container{
    padding: 0 2rem;
  }
  .card{
    padding: 1.5rem;
  }
  .title{
    font-size: 4rem;
  }
}